/*---------variable-----------*/
/*===================
*  font
===================*/
$font-size-title: 16px;
$font-size-normal: 14px;
$font-size-sm: 12px;

/*===================
*  color
===================*/
$color-dark-gray: #333333;
$color-gray: #737373;
$color-light-gray: #9b9b9b;
$color-red: #ff0000;
$color-green: #29cc6d;
$color-orange: #ff3d00;
$color-blue: #0ea0d8;
$color-yellow: #f0aa15;
$color-light-yellow: #f0ea15;
$color-light-purple: #6e8ee2;

$color-background: #f3f3f3;

$color-border: #eeeeee;
/*===================
*  button
===================*/
